<!DOCTYPE html>
<html>
  <head>
    <h1> My name is <%=@name %></h1>
    <body>
      '<img src="http://4.bp.blogspot.com/-MM71nthu3og/Vjw_j9_2gPI/AAAAAAAAAsM/Vk_xOW017-k/s1600/aec0445c6b1673136db065b176d1e888.gif">'
    </body>
  </head>
</html>
